{#/**
* @file
* Template to display a Admintools header.
* Be default called by AdmintoolsHeader area.
*
* Available variables:
* - title: Header Title.
* - empty: Whether there are any results.
*
* @ingroup themeable
*/
#}

{#    {{ dd(vat.system_roles) }}
    {{ dd(vat.access_roles) }}
    {{ dd(vat.user_roles) }}
    {{ dd(vat.has_access) }}
    {{ dd(vat.user_id) }}#}

{% if(vat.has_access) %}




    <div class="vat-area">

        <!-- Button Group -->
        <div class="{{ vat.size_class }}" role="group">


            {# New #}
            {% if vat.button_new %}

                <a type="button" class="{{ vat.button_class }} {{ vat.modal_button }} {{ vat.size_class }}"

                        {# Modal #}
                        {% if vat.modal %}
                            data-dialog-type="modal"
                            data-dialog-options="{&quot;width&quot;:&quot;{{ vat.modal_width }}&quot;}"
                        {% endif %}

                   href="/node/add/{{ vat.node_type }}?destination={{ vat.target_path_after_save }}">

                    {# Icon #}
                    {% if vat.button_icon %}
                        <span class="{{ vat.icon_prefix }}{{ vat.icon_new }}" aria-hidden="true"> </span>
                    {% endif %}

                    {# Label #}
                    {% if vat.button_label %}
                        {% trans %} New {% endtrans %}
                    {% endif %}

                </a>

            {% endif %}


            {# Sort #}
            {% if vat.button_sort %}

                <a type="button" class="{{ vat.button_class }}  {{ vat.size_class }} "
                   href="{{ vat.target_path_sort }}?destination={{ vat.target_path_after_save }}">

                    {# Icon #}
                    {% if vat.button_icon %}
                        <span class="{{ vat.icon_prefix }}{{ vat.icon_sort }}" aria-hidden="true"> </span>
                    {% endif %}

                    {# Label #}
                    {% if vat.button_label %}
                        {% trans %} Sort {% endtrans %}
                    {% endif %}

                </a>

            {% endif %}




            {# separator #}
            {% if vat.separator %}

                <span class="vat-separator"></span>

            {% endif %}


            {# Taxonomy #}
            {% if vat.list_taxonomy %}

                {% for taxonomy in vat.list_taxonomy %}

                    {% if  taxonomy.machine_name %}


                        <a type="button" class="{{ vat.button_class }} {{ vat.size_class }} "
                           href="/admin/structure/taxonomy/manage/{{ taxonomy.machine_name }}/overview?destination={{ vat.target_path_after_save }}"
                           aria-label="{{ taxonomy.title }}">

                            {# Icon #}
                            {% if vat.button_icon %}
                                <span class="{{ vat.icon_prefix }}{{ vat.icon_edit }}" aria-hidden="true"> </span>
                            {% endif %}

                            {# Label #}
                            {% if vat.button_label %}
                                {{ taxonomy.title }}
                            {% endif %}
                        </a>
                    {% endif %}

                {% endfor %}
            {% endif %}

        </div>

    </div>

{% endif %}