{#/**
* @file
* Template to display a Admintools header.
* Be default called by AdmintoolsHeader Area.
*
* Available variables:
*
* - buttons
* - vocabularies
* - look
        look.separator
        look.icon
        look.label
* - modal
*       modal.size
*
* - content
*       content.type
*
* - access
*
* @ingroup themeable
*/
#}
{{ dd(buttons) }}
{{ dd(_context) }}

{{ attach_library('views_admintools/views_area') }}
{% if(access) %}

<div class="vat-area">

  <!-- Button Group -->
  <div class="btn-group vat-button-group" role="group">

    {% for button in buttons %}
      {# New #}
      {% if button.active %}

        <a role="button" class="{{ button.class }}"

          {# Modal #}
          {% if button.modal %}
            data-dialog-type="modal"
            data-dialog-options="{&quot;width&quot;:&quot;{{ modal.width }}&quot;,&quot;height&quot;:&quot;{{ modal.height }}&quot;}"
          {% endif %}

           href="{{ button.href }}">

          {# Icon #}
          {% if look.icon and button.icon %}
            <span class="{{ button.icon }}" aria-hidden="true"> </span>
          {% endif %}

          {# Label #}
          {% if look.label %}
            {% trans %} {{ button.label }} {% endtrans %}
          {% endif %}

        </a>

      {% endif %}

    {% endfor %}

    {# separator #}
    {% if look.separator %}
      <span class="vat-separator"></span>
    {% endif %}

    <!-- Button Group -->
    <div class="btn-group vat-button-group" role="group">

      {% for vocabulary in vocabularies %}


        {% if vocabulary.active %}

          <a role="button" class="{{ vocabulary.class }}"

            {# Modal #}
            {% if vocabulary.modal %}
              data-dialog-type="modal"
              data-dialog-options="{&quot;width&quot;:&quot;{{ modal.width }}&quot;}"
            {% endif %}

             href="{{ vocabulary.href }}">

            {# Icon #}
            {% if look.icon and vocabulary.icon %}
              <span class="{{ vocabulary.icon }}" aria-hidden="true"> </span>
            {% endif %}

            {# Label #}
            {% if look.label %}
              {% trans %} {{ vocabulary.label }} {% endtrans %}
            {% endif %}

          </a>

        {% endif %}

      {% endfor %}


    </div>

  </div>

  {% endif %}
