{#/**
* @file
* Template to display a Admintools header.
* Be default called by AdmintoolsHeader area.
*
* Available variables:
* - title: Header Title.
* - empty: Whether there are any results.
*
* @ingroup themeable
*/
#}
{#

    {{ dd(vat.system_roles) }}
    {{ dd(vat.access_roles) }}
    {{ dd(vat.user_roles) }}
    {{ dd(vat.has_access) }}
    {{ dd(vat.user_id) }}
#}

    {{ dd(buttons) }}
    {{ dd(modal) }}
    {{ dd(content) }}
    {{ dd(group) }}
    {{ dd(access ) }}
    {{ dd(look) }}
    {{ dd(test) }}
    {{ dd(voc) }}


{% if(access) %}


    <div class="vat-area">

    <!-- Button Group -->
    <div class="{{ group.class }}" role="group">

        {% for button in buttons %}
            {# New #}
            {% if button.active %}

                <a type="button" class="{{ buttons.class }}"

                        {# Modal #}
                        {% if buttons.modal %}
                            data-dialog-type="modal"
                            data-dialog-options="{&quot;width&quot;:&quot;{{ modal.width }}&quot;}"
                        {% endif %}

                   href="{{ button.href }}">

                    {# Icon #}
                    {% if look.icon and button.icon %}
                        <span class="{{ button.icon }}" aria-hidden="true"> </span>
                    {% endif %}

                    {# Label #}
                    {% if look.label %}
                        {% trans %} {{ button.label }} {% endtrans %}
                    {% endif %}

                </a>

            {% endif %}

        {% endfor %}




        {# separator #}
        {% if look.separator %}
            <span class="vat-separator"></span>
        {% endif %}


        <!-- Button Group -->
        <div class="{{ group.class }}" role="group">

            {% for vocabulary in vocabularies %}


                {% if vocabulary.active %}

                    <a type="button" class="{{ vocabulary.class }}"

                            {# Modal #}
                            {% if vocabulary.modal %}
                                data-dialog-type="modal"
                                data-dialog-options="{&quot;width&quot;:&quot;{{ modal.width }}&quot;}"
                            {% endif %}

                       href="{{ vocabulary.href }}">

                        {# Icon #}
                        {% if look.icon and vocabulary.icon %}
                            <span class="{{ vocabulary.icon }}" aria-hidden="true"> </span>
                        {% endif %}

                        {# Label #}
                        {% if look.label %}
                            {% trans %} {{ vocabulary.label }} {% endtrans %}
                        {% endif %}

                    </a>

                {% endif %}

            {% endfor %}


        </div>

    </div>

{% endif %}