{#/**
* @file
* Template to display a Admintools header.
* Be default called by AdmintoolsHeader area.
*
* Available variables:
* - title: Header Title.
* - empty: Whether there are any results.
*
* @ingroup themeable
*/
#}


<div class="views-admintools-header-toolbox">

    <!-- Button Group -->
    <div class="{{ vat.size_class }}" role="group">


        {# New #}
        {% if vat.button_new %}

            <a type="button" class="{{ vat.button_class }} {{ vat.size_class }} use-ajax" data-dialog-type="modal"
               href="node/add/{{ vat.node_type }}?destination={{ vat.destination }}">

                {# Icon #}
                {% if vat.button_icon %}
                    <span class="{{ vat.icon_prefix }}{{vat.icon_new}}" aria-hidden="true"> </span>
                {% endif %}

                {# Label #}
                {% if vat.button_label %}
                    {% trans %} New {% endtrans %}
                {% endif %}

            </a>

        {% endif %}


        {# Sort #}
        {% if vat.button_sort %}

            <a type="button" class="{{ vat.button_class }} {{ vat.size_class }} "
               href="admin/{{ vat.node_type }}-sort?destination={{ vat.destination }}">

                {# Icon #}
                {% if vat.button_icon %}
                    <span class="{{ vat.icon_prefix }}{{vat.icon_sort}}" aria-hidden="true"> </span>
                {% endif %}

                {# Label #}
                {% if vat.button_label %}
                    {% trans %} Sort {% endtrans %}
                {% endif %}

            </a>

        {% endif %}




        {# seperator #}
        {% if vat.seperator %}

            <span class="vat-seperator"></span>

        {% endif %}


        {# Taxonomy #}
        {% if vat.list_taxonomy %}

            {% for taxonomy in vat.list_taxonomy %}

                {% if  taxonomy.machine_name %}

                    <a type="button" class="{{ vat.button_class }} {{ vat.size_class }} "
                       href="admin/structure/taxonomy/manage/{{ taxonomy.machine_name }}/overview?destination={{ vat.destination }}"
                       aria-label="{{ taxonomy.title }}">

                        {# Icon #}
                        {% if vat.button_icon %}
                            <span class="{{ vat.icon_prefix }}{{vat.icon_edit}}" aria-hidden="true"> </span>
                        {% endif %}

                        {# Label #}
                        {% if vat.button_label %}
                            {{ taxonomy.title }}
                        {% endif %}
                    </a>
                {% endif %}

            {% endfor %}
        {% endif %}

    </div>

</div>
